#container {
	
	margin: 0 auto;
	position: absolute;
	color: white;
	font-family: Arial;
	font-size: 50px;

	
}

#container:hover {

	background: green;
}

body { 
	
	transition: all .25s ease;
	background-color: red;

}


