













#container {
	
  	color: white;
    font: 50px;
    height: 100px;
    width: 500px;
    position: relative;
    text-align: center;

margin: auto;
	position: relative;
	color: white;
	font-family: Arial;
	height: 50px;
	top: 50%;
	text-align: center;

	
}


body { 
	
	transition: all .25s ease;
	background-color: black;
	height: 100%;

}


